# env files
.env
/solidity/.env
/Frontend/.env.local
.env
.env.local

# Node modules
/solidity/node_modules

# Compilation output
/solidity/dist

# pnpm deploy output
/HardhatV3bundle

# Hardhat Build Artifacts
/solidity/artifacts

# Hardhat compilation (v2) support directory
/solidity/cache

# Typechain output
/solidity/types

# Hardhat coverage reports
/solidity/coverage

# Hardhat files
/solidity/cache
/solidity/artifacts

# TypeChain files
/solidity/typechain
/solidity/typechain-types

# solidity-coverage files
/solidity/coverage
/solidity//coverage.json

# Hardhat Ignition default folder for deployments against a local node
/solidity/ignition/deployments/chain-31337

test-account.pkey